.textbox{
    --pdleft: 100px;
    --pdright: 50px;
    padding-left: var(--pdleft);
    padding-top: 50px;
    padding-right: var(--pdright);
    h2{
        position: relative;
        display: inline-flex;
        align-items: center;
        letter-spacing: 2px;
        @include text($fz-title, pb, $lh-title, $text-black-cl, uppercase);
        &::before{
            content: "";
            width: 80px;
            height: 2px;
            background: $line-cl;
            position: relative;
            margin-left: -80px;
            right: 15px;
        }
    }
    .yellow{
        color: $yellow-cl;
        line-height: 50px;
    }
    .white{
        color: $white-cl;
        padding-top: 20px;
        padding-bottom: 45px;
        margin: 0;
    }
    >p{
      font-size: $fz-text;
      line-height: $lh-text;
      color: $text-cl;
      margin-bottom: 25px;
      display: block;
    }
    &.--textright{
        --pdleft: 100px;
        --pdright: 50px;
        padding-right: var(--pdleft);
        text-align: right;
        padding-left: var(--pdright);
        h2{
            flex-direction: row-reverse;
            &::before{
                right: initial;
                margin-left: initial;
                margin-right: -80px;
                left: 15px;
            }
        }
    }
    &.--text{
        max-width: 480px;
        --pdleft: 0;
        --pdright: 0;
        padding-right: 0;
        padding-top: 0;
        text-align: center;
        margin: auto;
        h2{
            display: flex;
            flex-direction: column-reverse;
            justify-content: end;
            position: relative;
            line-height: 60px;
            &::before{
                width: 38px;
                height: 3px;
                background: $yellow-cl;
                text-align: center;
                left: 35px;
                margin-bottom: 20px;
            }
        }
    }
    &.--about{
        --pdleft: 70px;
        padding-top: 60px;
        h2{
            &::before{
                left: -40px;
            }
        }
    }
    &.--gallery{
        max-width: 440px;
        padding: 0;
        padding-top: 20px;
        h2{
            line-height: 0;
            margin-bottom: 38px;
            color: $white-cl;
            &::before{
                display: none;
            }
        }
        p{
            color: $white-cl;
            margin-bottom: 50px;
        }
    }
}


@include desktop{
    .textbox{
        --pdright: 40px;
    }
}
  // screen tablet
@include tablet{
    .textbox{
        --pdleft: 0px;
        --pdright: 0px;
        padding-top: 0;
        h2{
            &::before{
                display: none;
            }
        }
        &.--textright{
            --pdleft: 0px;
            --pdright: 0px;
        }
    } 
}

// screen mobile
@include mobile{
    .textbox{
        text-align: center;
        h2{
            font-size: 35px;
        }
        &.--textright{
            text-align: center;
        }
        &.--text{
            h2{
                letter-spacing: normal;
            }
        }
    }
}