.btnmenu {
    width: 30px;
    height: 3px;
    background: $yellow-bg;

    .btnmenu:after {
        width: 30px;
        height: 3px;
        background: $yellow-bg;
    }

    .btnmenu:before {
        width: 30px;
        height: 3px;
        background: $yellow-bg;
    }
}
