img {
    max-width: 100%;
}
.btnmain{
  --pdborder: 15px 50px;
  border: 1px solid $white-cl;
  text-transform: uppercase;
  text-decoration: none; 
  color: $white-cl;
  width: max-content;
  padding: var(--pdborder);
  letter-spacing: 5px;
  display: flex;
  margin: 0 auto;
  position: relative;
  @include transition($t);
  i{
    margin-left: 15px;
  }
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    background: $yellow-cl;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    
    @include transition(transform $t);
    @include transform(scaleX(0));
    @include transform-origin(right);
  }
  &:hover:before{
    background: $yellow-cl;
    @include transition(transform $t);
    @include transform(scaleX(1));
    @include transform-origin(left);
  }
}

.btnmore{
  text-decoration: none;
  display: inline-flex;
  color: $text-black-cl;
  text-transform: uppercase;
  font-family: pb;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 30px;
  opacity: 1;
  @include transition($t);
  &::after{
      content: "";
      width: 40px;
      height: 1px;
      background: $yellow-cl;
      position: absolute;
      bottom: -5px;
      left: 0;
  }
  img{
    margin-left: 10px;
    width: 28px;
  }
  span{
    @include mid(true);
  }
  &:hover span{
    opacity: 0.6;
    @include transition($t);
  }
  &:hover img{
      margin-left: 18px;
      @include transition($t);
      opacity: 1;
  }
}