footer{
    width: 100%;
    height: auto;
    background: $black-bg-cl;
    padding: 20px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .copy{
            color: $white-cl;
        }
        .logoft{
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
        }
        .backtotop{
            a{
                text-decoration: none;
                color: $white-cl;
            }
        }
    }
    @include mobile{
        .container{
            flex-direction: column;
            .logoft{
                margin: 15px 0;
                position: initial;
                left: initial;
                @include transform(initial);
            }
        }
    }
}

.totop{
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 30px;
    @include mid(true);
    border: 2px solid $yellow-cl;
    position: fixed;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    @include transition($t);
    z-index: 900;
    img{
        width: 20px;
    }
    &.active{
        opacity: 1;
        pointer-events: auto;
        @include transition($t);
    }
}