header {
    --heightHeader: 80px;
    font-family: pb;
    width: 100%;
    height: var(--heightHeader);
    position: fixed;
    left: 0;
    top: 0;
    mix-blend-mode: difference;
    z-index: 100;
    
    .container-fluid {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .logo{
            .hidden{
                display: none;
            }
        }
        .menu{
            height: 100%;
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            li{
                height: 100%;            
                a{
                    height: 100%;
                    @include text(15px, pb, normal, #fff, uppercase);
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 30px;
                    &:hover,
                    &.active{
                        transition: 0.3s;
                        // opacity: 0.5;
                        color: $yellow-cl;
                    }
                }
            }
        }
        .right{
            .lang{            
                &__current{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    span{
                        @include text(15px, pb, normal, #fff, uppercase);
                        margin-right: 5px;
                    } 
                    i{
                        img{
                            width: 15px;
                        }
                    }
                }
                &__option {
                    display: none;
                    position: absolute;
                    padding: 10px 0;
                    a{
                        color: #fff;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0;
                        text-decoration: none;
                    }
                }
                &:hover{
                    .lang__current{
                        span{
                            transition: 0.3s;
                            // opacity: 0.5;
                            color: #bea67c;
                        }    
                    }
                    .lang__option{
                        display: block;
                        a:hover{
                            transition: 0.3s;
                            // opacity: 0.5;
                            color: #bea67c;
                        }
                        
                    }
                }
            }
        }
    }  
}

@include tabletLc {
    header{
        .container-fluid{
            .menu{
                display: none;
            }
            .right{
                display: flex;
                align-items: center;
                .btnmenu{
                    padding-left: 30px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    span{
                        width: 50px;
                        height: 3px;
                        margin: 10px 0;
                        background: $yellow-cl;
                        display: block;
                    }
                    &:before{
                        content: "";
                        width: 50px;
                        height: 3px;
                        background: $yellow-cl;
                    }
                    &:after{
                        content: "";
                        width: 50px;
                        height: 3px;
                        background: $yellow-cl;
                    }
                }
            }   
        }
    }
}

@include tablet {
    header{
        .container-fluid{
            .menu{
                display: none;
            }
            .right{
                display: flex;
                align-items: center;
                .btnmenu{
                    padding-left: 30px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    span{
                        width: 50px;
                        height: 3px;
                        margin: 10px 0;
                        background: $yellow-cl;
                        display: block;
                    }
                    &:before{
                        content: "";
                        width: 50px;
                        height: 3px;
                        background: $yellow-cl;
                    }
                    &:after{
                        content: "";
                        width: 50px;
                        height: 3px;
                        background: $yellow-cl;
                    }
                }
            } 
        }
    }
}


@include mobile {
    header{
        .container-fluid{
            .menu{
                display: none;
            }
            .right{
                display: flex;
                align-items: center;
                .btnmenu{
                    padding-left: 30px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    span{
                        width: 50px;
                        height: 3px;
                        margin: 10px 0;
                        background: $yellow-cl;
                        display: block;
                    }
                    &:before{
                        content: "";
                        width: 50px;
                        height: 3px;
                        background: $yellow-cl;
                    }
                    &:after{
                        content: "";
                        width: 50px;
                        height: 3px;
                        background: $yellow-cl;
                    }
                }
            } 
        }
    }
}