
/* ------------------------------- 
    Component Silder
*/
.slider{
  width: 100%;
  height: 100vh;
  position: relative;
  --fztitle: 84px;
  --pdborder: 15px 50px;
  &__images{
    width: 100%;
    height: 100%;
    &-item{
      width: 100%;
      height: 100%;
      position: relative;
      .text{
        @include mid;
        z-index: 100;
        h2{
          font-size: var(--fztitle);
          text-transform: uppercase;
          font-family: pb;
          letter-spacing: 20px;
          color: $yellow-cl;
          margin: 45px 0;
        }     
      }
      .banner{
        height: 100%;
        width: 100%;
        @include midimg(initial);
      }
    }
  }
  &__bottom {
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    .container-fluid{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .paging{
      display: flex;
      align-items: center;
      span{
        font-size: 48px;
        color: $yellow-cl;
        font-family: pb;
        line-height: normal;
        display: flex;
        align-items: center;
        &:before{
          content: "";
          width: 42px;
          height: 4px;
          background: $yellow-cl;
          margin-right: 12px;
          display: inline-block;
        }
      }
      ul{
        margin-left: 15px;
        li{
          width: 10px;
          height: 10px;
          background: $white-cl;
          @include br(50%);
          opacity: 0.5;
          margin-right: 12px;
          display: inline-block;
          cursor: pointer;
          flex-shrink: 0;
          @include transform($t);
          &:hover,
          &.active{
            background-color: $yellow-cl;
            opacity: 1;
            @include transform($t);
          }
        }
      }
    }
    .mouse{
      position: absolute;
      left: 50%;
      bottom: 15px;
      @include transform(translateX(-50%));
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      img{
        &:first-child{
          width: 20px;
          margin-bottom: 12px;
        }
      }
      &__down{
        @include animation(mymove 1s ease forwards infinite);

        @include keyframes(mymove){
          0%{
            @include transform(translateY(0px));
            opacity: 0;
            @include transition($t);
          }
          100%{
            @include transform(translateY(18px));
            opacity: 1;
            @include transition($t);
          }
        }
      }
    }  
    .control{
      display: flex;
      &__btn{
        border: 1px solid $white-cl;
        padding: 15px 15px;
        cursor: pointer;
        &:last-child{
          border-left: 0;
        }
        &:hover{
          background: $yellow-cl;
          @include transition($t);
        }
      }
    }
  }
}
// screen tablet of Slider
@include tablet{
  .slider{
   height: 600px;
   &__bottom{
     .mouse{
       &__img{
         display: none;
       }
     }
   }
  }
}
// screen tablet of Slider
@include mobile {
  .slider{
    height: 600px;
    --fztitle: 60px;
    --pdborder: 10px 20px;
    &__images{
      &-item{
        .text{
          h2{
            letter-spacing: 10px;
            margin: initial;
          }
          .btn{
            top: 25px;
            span{
              font-size: 14px;
              letter-spacing: 3px;
            }
          }
        }
      }
    }
    &__bottom{
      .paging{
        display: flex;
        align-items: center;
        span{
          font-size: 30px;
          color: $yellow-cl;
          font-family: pb;
          line-height: normal;
          display: flex;
          align-items: center;
          &:before{
            display: none;
          }
        }
        ul{
          margin-left: 10px;
          li{
            width: 8px;
            height: 8px;
            background: $white-cl;
            @include br(50%);
            opacity: 0.5;
            margin-right: 5px;
            display: inline-block;
            cursor: pointer;
            flex-shrink: 0;
            @include transform($t);
            &:hover,
            &.active{
              background-color: $yellow-cl;
              opacity: 1;
              @include transform($t);
            }
          }
        }
      }
      .mouse{
        position: absolute;
        left: 50%;
        bottom: 15px;
        // @include transform(translateX(-50%));
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        justify-content: center;
        img{
          &:first-child{
            display: none;
          }
        }
      }
      .control{
        display: flex;
        &__btn{
          border: 1px solid $white-cl;
          padding: 10px 10px;
          cursor: pointer;
          &:last-child{
            border-left: 0;
          }
          &:hover{
            background: $yellow-cl;
            @include transition($t);
          }
        }
      }  
    }
  }
}

/** ------------------------------- 
  Component Product
*/ 
.product{
  --Widthimg: 520px;
  &__list{
    &-content{
      display: grid;
      grid-template-columns: 1fr var(--Widthimg);
      &.--decor{
        margin: 90px 0;
        grid-template-columns: var(--Widthimg) 1fr ;
        .textbox{
          grid-area: 1/2/2/3;
        }
        .image{
          grid-area: 1/1/2/2;
        }
      }
    }
  }
  &__video{
    &-list{
      display: flex;
      position: relative;
      .item{
        .video-circle{
          &:first-child{
            border-radius: 200px;
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}
// screen tablet of Product
@include tablet{
  .product{
    --Widthimg: 400px;
  }
}
// screen mobile of Product
@include mobile{
  .product{
    &__list{
      &-content{
        grid-template-columns: 1fr !important;
        &.--decor{
          margin: 60px 0;
          .textbox{
            grid-area: initial;
          }
          .image{
            grid-area: initial;
          }
        }
      }
    }
  }
}

/** ------------------------------- 
  Component Background
*/ 

/** ------------------------------- 
  Component About
*/

/** ------------------------------- 
  Component Gallery
*/

/** ------------------------------- 
  Component  News
*/

/** ------------------------------- 
  Component Image move
*/ 



